<%- include('../layouts/header.ejs')%>


<div class="bt-light">
    <h1 style="color: darkgreen;">Your Email has been Verified </h1>
<a href="/login"><button class="btn btn-outline-success">Login Here</button></a>
</div>


<%- include('../layouts/footer.ejs')%>