<%- include('../layouts/header.ejs')%>

<!-- <h1> forget Password</h1> -->
<!-- <form action="/forget-password" method="post">
   
     
    <label for="">Enter New Password</label>
    <input type="password" name="password" placeholder="Enter New Password" required >
    <input type="hidden" name="user_id" value="<%= user_id %>">
    <br><br>
    <input type="submit" value="Reset Password">

</form> -->

<!-- ----------------- -->

<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="card py-4 px-4">
    <form action="/forget-password" method="post">
      <h6> Reset Your Password</h6>
    
      <div class="text-center mt-3">
          
      <span class="info-text">Please enter your New Password</span>
      
      </div>
      <div class="position-relative mt-3 form-input">
        <input type="password" name="password" placeholder="Enter New Password" class="form-control" required >
        <input type="hidden" name="user_id" value="<%= user_id %>">
      </div>
      
      <div class=" mt-5 d-flex justify-content-between align-items-center">
          <input type="submit" value="Reset Password"class="go-button  bx bxs-right-arrow-alt" >
      </div>
    </form>
  </div>
</div>


<%- include('../layouts/footer.ejs')%>